"*":
  "exception-reporting":
    userId: "b7d83f26-b8e8-f50f-9950-03cb4d68b3bb"
  welcome:
    showOnStartup: false
  "one-dark-ui":
    layoutMode: "Spacious"
  core:
    disabledPackages: [
      "terminal-panel"
      "symbols-view"
    ]
    themes: [
      "one-dark-ui"
      "monokai"
    ]
    destroyEmptyPanes: false
  editor:
    invisibles: {}
    tabLength: 4
    scrollPastEnd: true
    showInvisibles: true
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    fontSize: 14
  pigments:
    groupPaletteColors: "by file"
    markerType: "dot"
  "terminal-panel":
    logConsole: true
    shell: "powershell.exe"
  emmet: {}
  docblockr: {}
  "atom-beautify":
    _analyticsUserId: "315a1c5e-43df-4c2a-9b75-cc7744d0654d"
  "atom-ctags":
    cmdArgs: "--/exclude=node_modules "
  linter: {}
  "linter-less":
    ignoreUndefinedGlobalVariables: true
  "linter-htmlhint": {}
