'jetstar':
  'title': 'jetstar'
  'paths': [
    '/Users/juanojeda/dev/jetstar/'
  ]

'jazzbot':
  'title': 'Jazzbot'
  'paths': [
    '/Users/juanojeda/dev/jazzbot/'
  ]

'recipes':
  'title': 'Recipes'
  'paths': [
      '/Users/juanojeda/dev/recipes'
  ]
