'jetstar':
  'title': 'jetstar'
  'paths': [
    'D:/dev/jetstar-site/',
    'D:/dev/jetstar-api/'
  ]

'jazzbot':
  'title': 'Jazzbot'
  'paths': [
    'D:/dev/jazzbot/'
  ]


'dulux':
  'title': 'Dulux'
  'paths': [
    'D:/dev/dulux/generic-website-aem/ui/',
    'D:/dev/dulux/generic-website-aem/content/src/main/content/jcr_root/'
  ]
